<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')  }}">
    <title>messager</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3lPyu3-0CtlMQx9qQdQcOCp_8Jp9oFduO1w&s">
    <style>
        body {
            background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.W_l2yOfBLTQagkiFn26RAQHaE8%26pid%3DApi&f=1&ipt=4595d4a855ce69d6cefc275b27521ceb6be6b566fd3e843ad141d7aed797edef&ipo=images');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
    {% block head %}
    {% endblock %}

</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>