<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')  }}">
    <title>messager</title>
    <link rel="icon" href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclipground.com%2Fimages%2Fmail-clipart-black-and-white-1.jpg&f=1&nofb=1&ipt=9df64457663eef64e19d0e54ca2cc6deb30007c5288e279133716bced7bdfa53&ipo=images">
    {% block head %}{% endblock %}

</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>