{% extends 'base.html'%}

{% block head %}

<style>
.dm-request-group{
    display: inline-block;
}

</style>


{% endblock %}


{% block body %}
<div class="vertical-container">
    <div>
        <h1>logged in as "{{ username }}"</h1>
    </div>
    <div>
    <a href="{{ url_for('board') }}" style="margin-top: 15px;">chat?</a>
    </div>
    <div>
        <a href="{{ url_for('logout') }}" style="margin-top: 15px;">logout?</a>
    </div>
    <h2 style="margin-top:20px">direct message?</h2>

    <div class="dm-request-group">

    <input class="js-dm" placeholder="enter username..." type="text" onkeydown="
        if(event.key == 'Enter'){
            handleDirectMessage();
        }

        ">
    <button class="calculate-button"
    onclick="
    handleDirectMessage();
    "
    >dm</button> 
    
    </div>

    {% if incorrect_user=="true" %}
    <p class="user-notification">that user does not exist</p>

    {% endif %}

<script>

function handleDirectMessage(){
    const dmRequested = document.querySelector('.js-dm').value;
    const root = window.location.hostname;

    console.log(root + /direct-message/ + dmRequested)

    window.location.replace(/direct-message/ + dmRequested);
    

}

</script>

</div>
{% endblock %}