{% extends 'base.html'%}

{% block head %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<style>
.dm-request-group{
    display: inline-block;
}
.username-box{
    border-style: double;
    width: 300px;
    height: 400px;
    overflow-y: scroll;    
    margin-top: 10px;

}
.dm-button{
    width: 100%;
    border-radius: 5px;
    font: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.dm-button:hover{
    color: white;
    background-color: grey;
}
.dm-button:active{
    background-color: rgba(128, 128, 128, 0.8);
}

</style>


{% endblock %}


{% block body %}
<div class="vertical-container">
    <div>
        <h1>logged in as "{{ username }}"</h1>
    </div>
    <div>
    <a href="{{ url_for('board') }}" style="margin-top: 15px;">chat?</a>
    </div>
    <div>
        <a href="{{ url_for('logout') }}" style="margin-top: 15px;">logout?</a>
    </div>
    <h2 style="margin-top:20px">direct message?</h2>

    <div class="dm-request-group">

    <input class="js-dm" placeholder="enter username..." type="text" onkeydown="
        if(event.key == 'Enter'){
            handleDirectMessage(document.querySelector('.js-dm').value);
        }

        ">
    <button class="calculate-button"
    onclick="
    handleDirectMessage();
    "
    >dm</button> 
    
    </div>

    {% if incorrect_user=="true" %}
    <p class="user-notification">that user does not exist</p>

    {% endif %}

    <div id="user-box" class="username-box">
        
    </div>


    <input class="js-user-lookup" plceholder="search for user..." type="text" onkeydown="
    if(event.key =='Enter'){
    search(document.querySelector('.js-user-lookup').value);
    }
    ">

    <a href="{{ url_for('friend') }}" style="margin-top: 15px;">friend?</a>

<script>
const session_username = "{{ username }}"
console.log(session_username);
search(undefined);

function search(userInput) {
        $.getJSON('/get-users', function(data) {
            $('#user-box').empty();
            data.forEach(function(user) {
                if(userInput){
                    let equal = true;
                    for(let i = 0; i < userInput.length; i++){
                        if(user.charAt(i) != userInput.charAt(i) || user == session_username){
                            equal = false;
                        }
                    }
                    if(equal){
                        
                        $('#user-box').append(`<button onclick="handleDirectMessage('${user}')" class="dm-button">${user}</button>`);
                    }
                }else{
                    if(user != session_username){
                    $('#user-box').append(`<button onclick="handleDirectMessage('${user}');" class="dm-button">${user}</button>`);
                    }
                }
              
            });
            $('#user-box').scrollTop($('#user-box')[0].scrollHeight);
        });
    }



function handleDirectMessage(dmRequested){
    const root = window.location.hostname;

    console.log(root + /direct-message/ + dmRequested)

    window.location.replace(/direct-message/ + dmRequested);
    

}

</script>

</div>
{% endblock %}