{% extends 'base.html'%}

{% block head %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}


{% block body %}
<h1 style="margin-bottom: 10px;">messaging "{{ recipient }}"</h1>

<div id="messages" class="message-history-box">
    {% for message in session_messages %}
    <div>
        <strong>{{ message.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</strong>
        <p>{{ message.username }}: </p>
        <p>{{ message.content }}</p>
    </div>
    {% endfor %}
</div>

<form id="message-form" autocomplete="off">
    <input type="text" id="message-content" name="content" placeholder="enter your message" required>
    <button type="submit">Send</button>
</form>

{% endblock %}

