{% extends 'base.html'%}

{% block head %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}


{% block body %}
<h1 style="margin-bottom: 10px;">messaging "{{ recipiant }}"</h1>

<div id="messages" class="message-history-box">
    {% for message in session_messages %}
    <div class="single-message-user">
        <p class="time">{{ message.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</strong>
        <p class="username">{{ message.sender }}: </p>
        <p class="text_content">{{ message.content }}</p>
    </div>
    {% endfor %}
</div>

<form method = "post" id="message-form" autocomplete="off" action= "{{ url_for('send_direct_message', recipiant=recipiant) }}">
    <input type="text" id="message-content" name="message-content" placeholder="enter your message" required>
    <button type="submit">Send</button>
</form>



{% endblock %}

