{% extends 'base.html'%}

{% block head %}


{% endblock %}




{% block body %}


<div class="content">
    <h1>login to an account</h1>



    <div class ="form-div">
        <form method="POST" action="" autocomplete="off">
            {{ form.hidden_tag() }}
        <div class="text-div">
            {{ form.username }}
            {{ form.password }}
        </div>
            <div style="margin-top: 10px">
            {{ form.submit }}
            </div>


        </form>

    </div>

    <a style = "margin-top: 5px" href="/make-account"><br>make an account</a>






</div>
{% endblock %}